.about {
  display: flex;
  width: 100%;
  height: 1000px;
  justify-content: space-between;
  padding: 3em 5px;

  &__img-container {
    background: url(./../images/imac.png) center/contain no-repeat;
    width: 55%;
  }

  &__content {
    width: 40%;
    margin-top: 3em;
    display: flex;
    align-items: flex-start;
    justify-items: flex-start;
  }

  &__content-container {
    width: 60%;
  }

  &__title {
    margin-bottom: 1em;
    font-size: 2em;
  }

  &__text {
    line-height: 2;
  }
}