.features {
  background-color: #000000;
  color: white;
  height: 40vh;

  &__heading {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 25%;
  }

  &__title {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 200;
  }

  &__container {
    display: flex;
    justify-content: center;
    height: 75%;
    column-gap: 2.5em;
  }

  &__card {
    max-width: 230px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  &__icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80px;
    min-width: 80px;
    border-radius: 50%;
    background-color: white;
    margin-bottom: 2em;
    box-shadow: 0px 0px 100px -12px rgba(255, 255, 255, 1);
  }

  &__name {
    margin-bottom: .8em;
    font-size: 14px;
    font-weight: 500;
  }

  &__text {
    color: rgba(255, 255, 255, 0.750);
    font-size: 14px;
  }
}