.pricing {
  margin-bottom: 2em;

  &__card:nth-child(2) {
    box-shadow: 0px 0px 70px -9px rgba(66, 68, 90, 0.544);
    border-radius: 5px;
  }

  &__price-container {
    display: flex;
    flex-direction: column;
    gap: .5em;
  }

  &__name {
    color: rgb(150, 150, 150);
  }

  &__amount {
    font-size: 2.5em;
    font-weight: 700;
  }

  &__period {
    font-size: .6em;
  }

  &__features-list {
    line-height: 1.5;
    min-height: 150px;
    padding: 1em 0;
  }

  &__feature {
    font-size: .8em;
    font-weight: 500;
  }

  &__btn {
    text-align: center;
    padding: 1em 2.5em;
    border-radius: .5em;
    border: none;
    background-color: #0ABCEB;
    color: white;
    transition: all 250ms ease-in-out;
  }

  &__btn:hover {
    transform: translateY(-5px);
    background-color: #31ccf7;
  }
}