@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif;
}

.row {
  width: 100%;
  margin: 5px;
  padding: 5px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}

.cell {
  min-height: 50px;
}